main {
	padding:30px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	font-size: 0;
}

.topmain {
	position: fixed;
	padding-left: 60;
	width: 100%;
	background-color: gray;
	height: 60px;
	margin-bottom: 10px;
}

.logo {
	border-radius: 50px;
    height: 50px;
  	margin-top: 5px;
  	margin-bottom: 5px;
  	margin-left: 60px;
  	margin-right: : 60px;
  	border-radius: 50%;
  	vertical-align: middle;
  	border: 1px solid black;
}

.room {
	margin-top: 40px;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav li::after {
  content: "|";
  margin-left: 5px;
}

nav a:hover {
  color: black;
}


.frame {
	width: 800px;
	display: inline-block;
	font-size: 0;
	border: 1px solid black;
}

.blue {
	width: 50%;
	height: 200px;
	border: 1px solid black;
	background-color: blue;
}

.green {
	width: 50%;
	height: 200px;
	border: 1px solid black;
	background-color: green;
}

.gray {
	width: 33.33%;
	height: 300px;
	border: 1px solid black;
	background-color: gray;
}
.black {
	width: 33.33%;
	height: 300px;
	border: 1px solid black;
	background-color: black;
}
.tan {
	width: 33.33%;
	height: 300px;
	border: 1px solid black;
	background-color: #99cc00;
}