body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.topmain {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: gray;
    height: 60px;
}

.logo {
  border-radius: 50px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 60px;
    margin-right: : 60px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav li::after {
  content: "|";
  margin-left: 5px;
}

nav a:hover {
  color: black;
}


.left{
  	float: left;
  	margin-right: 10px;
}

.size{
	width: 300px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.right{
	float: right;
	margin-left: 10px;
}