body * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.topmain {
	position: absolute;
	top: 0px;
	width: 100%;
	background-color: gray;
	height: 60px;
	margin-bottom: 10px;
}

.logo {
	border-radius: 50px;
    height: 50px;
  	margin-top: 5px;
  	margin-bottom: 5px;
  	margin-left: 60px;
  	margin-right: : 60px;
  	border-radius: 50%;
  	vertical-align: middle;
  	border: 1px solid black;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav li::after {
  content: "|";
  margin-left: 5px;
}

nav a:hover {
  color: black;
}
